* {
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    font-size: 1rem;
    background-color: rgba(100, 4, 255, 0.089);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inteer', sans-serif;
}
a {
    text-decoration: none;
}

h1{
    text-align: center;
    color: rgb(97, 2, 126);
    text-transform: uppercase;
}

h2{
    color: rgb(97, 2, 126);
}

#navbar {
    padding: 8px;
    margin: 0;
}

#logo {
    height: 45px;
}

#banner {
    width: 100%;
    object-fit: cover;
    height: 360px;
}

#about {
    display: flex;
    
}

#description {
    width: 50%;
    padding: 75px;
}

#team {
    width: 50%;
}

#computer-image {
    border-radius: 8px;
    width: 100%;

}


#yetenek-table {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(133, 9, 81);
    
    
}

.yetenek-header-row th {
    border: 1px solid rgb(133, 9, 81);
    padding: 8px;
    background-color:  rgba(208, 207, 255, 0.575);
    
}

.yetenek-data-row td {
    border: 1px solid rgb(133, 9, 81);
    padding: 8px; 
    background-color:  white;
}

h2 {
    padding: 75px;
}

#yetenekler{
    margin-top: -150px;  /* h2 ile yetenekler arası çok fazla açıklık kaldı ve çözümünü bulamadım deneme yanılmayla bu şekli verdim */
    width: 50%;
    padding: 75px;
}



#öneri-formu {
    margin: 0 auto;
    padding: 0 8px;
    margin-top: -50px; 
}


.form-grubu {
    margin: 16px;
    
}


#footer {
    background-color: Thistle;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links{
    text-align: center;
}

#footer-links li{
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: rgb(92, 68, 117);
}

